html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
header {
    font-family: 'MS Reference Sans Serif';
    background-color: white;
}
body {
    font-family: 'MS Reference Sans Serif';
    margin-right: 2px;
    padding: 0;
    width: auto;
    background-color: #ececec;
}

/********************************************* N A V B A R ************************************************/
.navbar{
    padding: 0;
    margin-bottom: 25px;
}
.navbar-top {
    max-height: 100%;
    width: 100%;
    font-size: 13px;
    background-color: white;
    border-bottom: solid;
    border-bottom-color: dimgrey;
    border-bottom-width: 1px;
}
.languageSet {
    padding: 0 0 0 0;
    margin-top: 2px;
    margin-bottom: 4px;
    margin-left: 96%;
}
.navbar-middle {
    height: 100%;
    width: 100%;
    text-align: center !important;
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    background-color: white;
    
}
.navbarMiddle-left {
    width: auto;
    height: 100%;
    padding: 0;
}
.navbarMiddle-center {
    max-width: 585px;
    height: 100%;
    padding-top: 29px;
    padding-bottom: 29px;
    padding-left: 15px;
}
.navbarMiddle-right {
    width: 100%;
    height: 100%;
    bottom: 40%;
    font-weight: 600;
    background-color: white;
}
.logo {
    height: 90px;
    width: 185px;
}
.searchBar {
    height:41px;
    max-width: 400px !important;
    margin: 0 !important;
    border-radius: 5px;
    border-width: 0.7px 1px 1px 0.7px;
}
.searchButton {
    height: 41px;
    width: 60px;
    padding: 10px;
    margin: 0;
    text-align: center !important;
}
.regesterLink {
    width: 80px;
    margin-right: 5px;
    flex-direction: unset;
}
.loginLink {
    width: 100px;
    margin-left: 2px;
    margin-right: 3px;
    flex-direction: unset;
}
.navbar-end {
    height: 100%;
    width: 100%;
    text-align:center !important;
    color:white !important;
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(85, 65, 122, 0.88);
}
div.row.navbar-end {
    margin: 0 0 0 0;
}
.navbarCategory{
    height: 60px;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    top:15px;
}
.navbarCategoryLink {
    height: 100%;
    margin: 0;
    padding-top: 5%;
    padding-bottom: 4%;
    text-align: center;
}
div.nav {
    text-align: inherit;
    margin-top:30px;
}
a, a:focus, a:hover{
    color: black;
}
.main{
    background-color:white;
}

/*********************************************  S L I D E R  ************************************************/
.homePageArea{
    padding: 0 300px 0 300px;
    margin-bottom: 20px;

}
.carousel {
    position: relative;
    width: 1200px;
    margin-top: 1px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.40);
}
.carousel li {
    display: inline-block;
    width: 1200px;
    height: 365px;
    float: left;
    position: relative;
}
.carousel ul {
    position: relative;
    left: 0;
    width: 8000px;
    list-style: none;
    transition: left .3s linear;
    -moz-transition: left .3s linear;
    -o-transition: left .3s linear;
    -webkit-transition: left .3s linear;
    animation: slide-animation 15s infinite;
}
.carousel-container {
    margin: 0 0;
    padding: 0;
    width: 1200px;
    height: 365px;
}
.carousel-container img {
    width: 1200px;
    height: 365px;
    padding: 0;
}
.carousel ul:hover {
    animation-play-state: paused;
}
@keyframes slide-animation {
    20% {left: 0}
    25% {left: -1200px}
    45% {left: -1200px}
    50% {left: -2400px}
    70% {left: -2400px}
    75% {left: -3600px}
    95% {left: -3600px}
    100% {left: 0}
}
/*********************************************  P R O D U C T S E C T I O N  ************************************************/
.subPictures{
    background-color:white;
}
.buyukyer > img {
    height: 500px;
    width: 400px;
    margin: 0 !important;
    padding: 0 !important;
}

.solresimwrap {
    height: 500px;
    width: 400px;
}

.yantaraf {
    height: 500px;
    width: 560px;
    margin: 0;
}

.ustsatir {
    width: 450px;
    height: 250px;
    margin: 0;
}

.giyimalanwrap {
    width: 230px;
    height: 210px;
}

.ayakkabicantawrap {
    width: 230px;
    height: 210px;
}

.mobilyalanwrap {
    width: 230px;
    height: 210px;
}

.altsatir {
    width: 450px;
    height: 250px;
    margin: 0;
}

.teknolojialanwrap {
    width: 230px;
    height: 210px;
}

.evaletiwrap {
    width: 230px;
    height: 210px;
}

.kirtasiyewrap {
    width: 215px;
    height: 210px;
}

/********************************************** L O G I N ******************************************************/
.loginCard {
    height: auto;
    max-width: 550px;
    margin: 15px 0 40px 0;
    padding: 15px;
    left:25%;
    background: white;
    text-align:center;
}
.loginCard h3 {
    width: 100%;
    font-weight: 600;
    text-align: center;
    top: 20px;
    margin-bottom: 50px;
    color:purple;
    position:relative;
}
.loginCard input {
    width: 80%;
    padding: 10px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid purple;
    color: purple;
    margin-bottom: -15px;
    text-align:center;
    position:center;
}
.loginCard input:focus {
    border-bottom: 1px solid black;
}
.loginCard label {
    display: block;   
    left: 29px;
    pointer-events: none;
    color: black;
}
.editLogin{
    width:800px;
    margin-bottom:20px;
    margin-top:20px;
}
.loginCard button {
    width: 50%;
    left: 10%;
    padding: 10px;
    background: purple;
    border: none;
    border-radius: 15px;
    color: white;
    position: center;
}

.checkbox{
    text-align:left;
}
.newUser{
    text-align:left;
}

/**************************************** R E G İ S T E R *********************************************/
.registerCard {
    height: auto;
    max-width: 400px;
    left:35%;
    margin: 15px 0 40px 0;
    padding: 15px;
    background: white;
}
.registerCard h3 {
    width: 350px;
    font-weight: 600;
    text-align: center;
    position: relative;
    top: 20px;
    margin-bottom: 50px;
    color: purple;
}

.registerCard input {
    width: 350px;
    left: 5%;
    padding: 10px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid purple;
    margin-bottom: 15px;
    color: black;
}
.registerCard input:focus {
    border-bottom: 1px solid purple;
}

.registerCard label {
    position: relative;
    display: block;
    pointer-events: none;
    color: black;
}

.registerCard button {
    width: 300px;
    left: 10%;
    padding: 10px;
    background: purple;
    border: none;
    border-radius: 15px;
    color: white;
}


/**************************************** P R O D U C T   S E A R C H   C A R D *********************************************/
.searchProductCardArea {
    height: auto;
    max-width: 970px;
    left: 10%;
    padding: 0 0 0 15px;
}
.searchProductCard {
    max-height: 605px;
    max-width: 300px;
    margin: 0 18px 15px 0;
    padding: 0;
    background-color: white;
}
.productCardImage {
    height: auto;
    width: auto;
    margin: 2px 0 0 0;
}
.searchProductCardMainImage {
    max-height: 420px;
    margin: 0 10px 0 25px;
    object-fit: fill;
}
.resim-wrap {
    height: 360px;
    width: 260px;
}
.searchProductCardImages {
    height: 95px;
    width: auto;
    padding: 0 1px 0 1px;
}
.searchProductCardImages img {
    height: 95px;
    width: 72px;
    margin: 0 4px 0 4px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: 0.2s;
}
.searchProductCardImages img:hover {
    border: 0.2px solid lightgrey;
}
.searchProductCardInformation {
    height: auto;
    width: auto;
    margin-top: 2px;
    margin: 3px 0 3px 0;
    padding: 4px 5px 5px 5px;
    font-size: 17px;
}
.searchProductCardName {
    height: auto;
    width: auto;
    padding: 0 0 0 5px;
    font-size: 23px;
    color: rgb(53, 23, 53);
    position: sticky;
}
.searchProductCardDescription {
    height: auto;
    width: auto;
    padding: 0 0 0 5px;
    font-size: 16px;
    opacity: 0.7;
    position: sticky;
}
.searchProductCardPrice {
    height: auto;
    width: auto;
    padding: 0 0 0 5px;
    margin-bottom: 10px;
    right: 20px;
    color: rgb(53, 23, 53);
    font-size: 24px;
    position: sticky;
}


/**************************************** P R O D U C T   F I L T E R   C A R D *********************************************/
.filterCardArea {
    width: 185px;
    padding: 0 5px 5px 0;
}
.filterCard {
    height: 500px;
    width: 175px;
    padding: 8px 5px 8px 5px;
    margin: 0;
    background-color: white;
}
.filterLine {
    width: auto;
    font-family: 'MS Reference Sans Serif';
    font-weight: 500;
}
.filterName {
    height: 25px;
    width: auto;
    padding: 5px;
    margin-bottom: 5px;
    font-weight: 600;
    color: rgb(102, 150, 215);
}
.genderFilter {
    height: 80px;
    width: auto;
    padding: 5px;
    margin-bottom: 8px;
    border-top: 0.5px solid lightgrey;
    overflow: auto;
}
.categoryFilter {
    height: 145px;
    width: auto;
    padding: 7px;
    margin-bottom: 8px;
    border-top: 0.5px solid lightgrey;
    overflow: auto;
}
.colorFilter {
    height: 145px;
    width: auto;
    padding: 5px;
    border-top: 0.5px solid lightgrey;
    overflow: auto;
}




/**************************************** P R O D U C T  C A R D *********************************************/
.productCardArea {
    height: auto;
    max-width: 970px;
    padding: 0 0 0 15px;
}
.productCard {
    max-height: 605px;
    max-width: 300px;
    margin: 0 7px 10px 0;
    padding: 0;
    background-color: white;
}
.productCard:hover {
    border: 0.5px solid lightgrey;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.10);
    transition: 0.10s;
}
.productCardImage {
    height: auto;
    width: auto;
    margin: 2px 0 0 0;
}
.productCardMainImage img {
    max-height: 420px;
    margin: 0 10px 0 25px;
    object-fit: fill;
}
.resim-wrap {
    height: 360px;
    width: 260px;
}
.productCardImages {
    height: 95px;
    width: auto;
    padding: 0 1px 0 1px;
    text-align: center;
    object-fit: fill;
}
.productCardImages img {
    height: 95px;
    width: 72px;
    margin: 0 4px 0 4px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: 0.2s;
}
.productCardImages img:hover {
    border: 0.2px solid lightgrey;
}
.productCardInformation {
    height: auto;
    width: auto;
    margin-top: 2px;
    margin: 3px 0 3px 0;
    padding: 4px 5px 5px 5px;
    font-size: 17px;
}
.productCardName {
    height: auto;
    width: auto;
    padding: 0 0 0 5px;
    font-size: 23px;
    color: rgb(53, 23, 53);
    position: sticky;
}
.productCardDescription {
    height: auto;
    width: auto;
    padding: 0 0 0 5px;
    font-size: 16px;
    opacity: 0.7;
    position: sticky;
}
.productCardPrice {
    height: auto;
    width: auto;
    padding: 0 0 0 5px;
    margin-bottom: 10px;
    right: 20px;
    color: rgb(53, 23, 53);
    font-size: 24px;
    position: sticky;
}

/********************************************  P R O D U C T  D E T A I L  *******************************************/
.productDetailArea {
    height: auto;
    margin: 10px 0 20px 0;
    padding: 0;
    background-color: #f5f5f5;
    position: page;
}
.productDetailImage {
    height: 615px;
    width: 635px;
    padding-top: 8px;
    background-color: white;
    position: page;
}
.productDetailMainImage {
    height: 455px;
    width: 410px;
    margin-bottom: 10px;
    padding-left: 12%;
    object-fit: fill;
}
.mainImgWrap {
    height: 455px;
    width: 410px;
}
.productDetailImages {
    height: 120px;
    width: 370px;
    margin-left: 15%;
    padding-left: 30px;
    background-color: white;
}
.productDetailImages img{
    height: 120px;
    width: 95px;
}
.productDetailInformation {
    height: 615px;
    width: 504px;
    background-color: #f5f5f5;
    position: page;
}
.productDetailStatus {
    height: 20px;
    width: 50px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    background-color: purple;
    margin-top:20px;
}
.productDetailName {
    height: auto;
    margin-bottom: 6px;
    background-color: #f5f5f5;
    color: black;
    font-size: 35px;
    position: page;
}
.productDetailDescription {
    height: auto;
    margin-bottom: 12px;
    background-color: #f5f5f5;
    color: black;
    position: page;
}
.rating {
    width: 110px;
    margin-bottom: 5px;
    transform: rotateY(180deg);
    display: flex;
    background-color: #f5f5f5;
}
.rating input {
    display: none;
}
.rating label {
    display: block;
    cursor: pointer;
    width: 25px;
}
.rating label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 20px;
    color: white;    
}
.rating label:after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 20px;
    color: yellow;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}
.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after {
    opacity: 1;
}
.productDetailPrice {
    height: auto;
    margin-bottom: 7px;
    font-size: 26px;
    font-weight: bold;
    background-color: #f5f5f5;
    color: purple;
    position: page;
}
.productDetailBuy {
    height: 40px;
    margin-top:10px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    display: block;
    background-color: purple;
    transition: 0.3s;
    position: page;
}
.productDetailBuy:hover {
    color: white;
    background: #ffffff;
}
.productDetailText {
    height: auto;
    margin-bottom: 15px;
    background-color: #f5f5f5;
}
.kargoImg {
    height: 75px;
    width: 245px;
    background-color: white;
}
.kargoImgWrap {
    height: 75px;
    width: 245px;
}



/**************************************  P R O D U C T  C O N T R O L L E R  ****************************************/
.listPage {
    max-width: 1760px;
    margin: 0 20px 20px 20px;
}
.pageTitle {
    font-size: 25px;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
}
.adminPanelSearch {
    max-width: 420px;
    height: 100%;
    margin: 10px;
}

.indexCreateButton {
    height: 40px;
    max-width: 160px;
    margin-bottom: 8px;
    margin-top: 8px;
    margin-left: 700px;
    background-color: lightcoral;
}
.indexCreateButton:hover {
    background: rgb(254, 200, 200);
}
.pageButtonTop {
    height: 40px;
    width: 110px;
    margin-top: 5px;
    margin-bottom: 15px;
    transition: 0.3s;
}
.pageButtonTop:hover {
    background: #c4c4c4;
}
.pageImage{
    height: 75px;
    width: 50px;
}
.pageButtonBack {
    height: 60px;
    width: 140px;
    text-align: center;
    top: -10px;
    left: 15px;
    margin-bottom: 5px;
    color: white;
    background-color: palegreen;
    transition: 0.3s;
}
.pageButtonBack:hover {
    background: #c4c4c4;
}
.pageDetail {
    left: 20px;
}
.indexCreateButton {
    height: 40px;
    width: 160px;
    margin-bottom: 8px;
    margin-top:8px;
    background-color: lightcoral;
}
.indexCreateButton:hover {
    background: rgb(254, 200, 200);
}




/*********************************************  U S E R  S E T T I N G S  ************************************************/

.userNavbar{
    height: 100%;
    width: 100%;
    padding: 15px;
    margin: 0;
    top: 5%;
    bottom: 5%;
}
.userNavbarName{
    height: 100%;
    width: 100%;
    margin: 5px;
    font-size: 12px;
}
.userNavbarBasket {
    height: 100%;
    color: white;
    text-align: center;
    font-size: 15px;
    background-color: #A7C9C9;
    transition: 0.3s;
    position: center;
    padding-top: 10px;
}
.navbarBasketLink {
   
    font-weight: 900;
}
.userNavbarBasket:hover {
    color: black;
    background: #ffffff;
}



/*********************************************  B A S K E T  ************************************************/

.basketProductRow {
    background-color: white;
}
.basketArea {
    height: auto;
    width: 100%;
    padding: 0;
    background-color: #ececec;
}
.basketTitleArea {
    height: 40px;
    width: auto;
    padding: 6px;
    margin-bottom: 17px;
    background-color: rgb(107, 58, 107);
}
.basketTitle {
    text-align: left;
    font-weight: 700;
    color: white;
    font-size: 20px;
}
.panelBody {
    width: 550px;
    height: auto;
    margin: 0 0px 6px 0;
    padding: 0;
    position: center;
    left:20px;
}
.basketProduct {
    height: auto;
    max-width: 700px;
    margin-bottom: 10px;
    padding: 0;
}
.basketProductImage {
    height: 220px;
    max-width: 198px;
    padding: 3px;
    object-fit: fill;
}
.basketImageWrap {
    height: 220px;
    width: 190px;
}
.basketProductInformationArea {
    height: auto;
    max-width: 270px;
    padding: 3px 2px 5px 8px;
    text-align: left;
}
.informationTitle {
    height: auto;
    width: auto;
    margin-bottom: 3px;
    text-align: center;
    font-weight: 600;
    background-color: white;
}
.basketProductName {
    height: auto;
    width: auto;
    background-color: white;
    font-weight: bold;
}
.basketProductExplanation {
    height: auto;
    width: auto;
    background-color: white;
}
.basketProductCode {
    height: auto;
    width: auto;
    background-color: white;
}
.basketProductTextArea {
    height: auto;
    width: auto;
    background-color: white;
    margin-top: 15px;
    font-size: small;
}
.basketProductText {
    font-weight: 700;
}
.basketProductPieceArea {
    max-width: 80px;
    height: auto;
    padding: 0;
    margin: 0;
    background-color: white;
}
.basketProductPieceDropDown {
    width: 60px;
    margin-right: 8px;
    padding-left: 15px;
}
.basketProductPriceArea {
    height: auto;
    width: 150px;
    padding: 0;
    margin: 0;
}
.basketProductTotalPriceArea {
    height: auto;
    max-width: 100px;
    padding: 0;
    margin:0;
}
.basketProductPrice {
    height: auto;
    width: 60px;
    margin: 0;
    align-items: center;
    text-align: center;
}
.basketOptionArea {
    height: auto;
    width: 100%;
    background-color: white;
}
.continueShopping {
    color: white;
    background-color: rgb(107, 58, 107);
    position: absolute;
    left: 0px;
}
.orderSummary {
    font-weight: bold;
    margin-top: 40px;
}
.basketButton {
    background-color: rgb(107, 58, 107);
    color: white;
}
.productNumber {
    text-align: right;
}
.orderSum {
    font-weight: bold;
}
.orderPrice {
    text-align: right;
}
.cargoPrice {
    font-weight: bold;
}
.totalPriceTitle {
    font-weight: bold;
}
.totalPrice {
    text-align: right;
}
.basketConfirmButton {
    color: white;
    background-color: rgb(107, 58, 107);
}

/*********************************************  I N V O I C E  ************************************************/
.invoiceArea{
    margin-bottom: 30px;
}
.cardBolum {
    height: 120px;
}

.faturaBilgi {
    text-align: right;
}

.faturaNo {
    font-weight: bold;
}

.generalInfo {
    height: 50px;
}

.receiverInfo {
    font-weight: bold;
}

.paymentDetail {
    font-weight: bold;
}

.orderType {
    text-align: right;
}

.invoiceProductList{
    min-height: 120px;
    margin-bottom: 100px;
}
.subTable {
    background: rgb(133, 29, 124);
    color: white;
    margin-bottom:30px;
}
.grandTotal {
    text-align: right;
}

.toplamTutar {
    text-align: right;
}

.fiyatRenk {
    font-weight: light;
}

.cargoPriceArea {
    text-align: right;
}

.cargoPrice {
    font-weight: light;
}

.genelToplamAlan {
    text-align: right;
}

.genelToplamRenk {
    font-weight: light;
}





/*********************************************  F O O T E R  ************************************************/
footer {
    position: page;
    bottom: 0;
    top: 100%;
}
footer > p, li {
    color: dimgrey;
    line-height: 25px;
}
footer > h2 {
    font-family:Courgette;
    font-size: 18px;
    color: black;
    padding-bottom: 7px;
}
.footer-top {
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 15px 230px 60px 230px;
    margin: 0 -2px 0 0;
}
.segment-one segment-two segment-three segment-four{
    width:25px;
}
.footer-bottom {
    background-color: rgba(217, 216, 216, 0.25);
    font-size: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    margin-right: 0;
    margin-left: 0;
}
.footer-bottom-text {
    text-align: center;
    color: black;
    line-height: 75px;
    background-color: #ececec;
}
.segment-one, .segment-two, .segment-three, .segment-four {
    margin: 15px 0 !important;
}
.segment-one h2 {
    margin-bottom: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.segment-one h2::before {
    content: '|';
    color: black;
    padding-right: 10px;
}
.segment-two h2 {
    margin-bottom: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.segment-two h2::before {
    content: '|';
    color: black;
    padding-right: 10px;
}
.segment-two ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.segment-two ul li {
    border-bottom: 1px solid dimgrey;
    line-height: 40px;
}
.segment-two ul li a {
    color: rgb(102, 150, 215);
    text-decoration: none;
}
.segment-three h2 {
    margin-bottom: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.segment-three h2::before {
    content: '|';
    color: black;
    padding-right: 10px;
}
.segment-three a {
    width: 40px;
    height: 40px;
    margin-top: 8px;
    display: inline-block;
    border-radius: 50%;
    background-color: #494848;
}
.segment-three a i {
    font-size: 20px;
    color: #fff;
    padding: 10px 12px;
}
.segment-four h2 {
    margin-bottom: 9px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.segment-four h2::before {
    content: '|';
    color: black;
    padding-right: 10px;
}
.segment-four form input [type=submit] {
    background-color: #c65039;
    border: none;
    padding: 3px 15px;
    margin-left: -5px;
    color:red;
    text-transform: uppercase;
}
.footer-email{
    max-width: 181px;
    margin-top:8px;
}
.footer-button {    
    margin-top: 8px;
}
/* ------------ */
@media only screen and (min-width: 768 px) and (max-widht:991px) {
    .md-mb-30 {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 767pz) {
    .sm-mb-30 {
        margin-bottom: 30px;
    }

    .footer-top {
        padding: 50px 0;
    }
}