<html>
<head>
    <title>Ürün Detay Sayfası</title>
    <link rel="stylesheet" href="sepet.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 basketInformationArea">
                <div class="basketTitle">Sepetim</div>
                <br>
                <div class="productImg">
                    <img class="productwrap" src="mavielbise.jpg" alt="">
                </div>
                <div class="yazilar">
                    <div class="sepetMarka">Cream&Rouge Yazlık Elbise</div>
                    <div class="sepetAciklama">Kısa Askılı</div>
                    <div class="sepetKargo">Kargo Bedava!</div>
                </div>
                <p class="fiyat">69,90₺</p>
                <label>Adet</label>
                <input class="adet" type="text" value="1">
                <button type="button" class="btn btn-default cart">Alışverişe Devam Et</button>
            </div>
            <div class="col-md-4 basketPriceArea">
                <h3>Sipariş Özeti</h3>
                <p class="fiyat">69,90₺</p>
                <button type="button" class="btn btn-default cart">Sepeti Onayla</button>
            </div>
        </div>
    </div>
</body>
