@{
    ViewBag.Title = "Ana Sayfa";
}
    <div class="homePageArea">
        <div class="carousel">
            <ul>
                <li>
                    <div class="carousel-container">
                        <img src="~/img/slider1.jpg" alt="">
                    </div>
                </li>
                <li>
                    <div class="carousel-container">
                        <img src="~/img/slider2.jpg" alt="">
                    </div>
                </li>
                <li>
                    <div class="carousel-container">
                        <img src="~/img/slider3.jpg" alt="">
                    </div>
                </li>
                <li>
                    <div class="carousel-container">
                        <img src="~/img/slider4.jpg" alt="">
                    </div>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-5 buyukyer">
                <img src="~/img/solresim.png" class="solresimwrap" alt="">
            </div>
            <div class="col-md-7 yantaraf">
                <div class="row">
                    <div class="col-md-12 ustsatir">
                        <div class="row">
                            <div class="col-md-4 ustilksutun">
                                <img src="~/img/giyimalan.png" class="giyimalanwrap" alt="">
                            </div>
                            <div class="col-md-4 ustikincisutun">
                                <img src="~/img/ayakkabicanta.png" class="ayakkabicantawrap" alt="">
                            </div>
                            <div class="col-md.-4 ustucuncusutun">
                                <img src="~/img/mobilyalan.png" class="mobilyalanwrap" alt="">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-12 altsatir">
                        <div class="row">
                            <div class="col-md-4 altilksutun">
                                <img src="~/img/teknolojialan.png" class="teknolojialanwrap" alt="">
                            </div>
                            <div class="col-md-4 altikincisutun">
                                <img src="~/img/evaletleri.png" class="evaletiwrap" alt="">
                            </div>
                            <div class="col-md-4 altucuncusutun">
                                <img src="~/img/kirtasiye.png" class="kirtasiyewrap" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>