@{
    ViewBag.Title = "Ana Sayfa";
}
<div class="container">
    <div class="carousel">
        <ul>
            <li>
                <div class="carousel-container">
                    <img src="~/img/slider1.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="carousel-container">
                    <img src="~/img/slider2.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="carousel-container">
                    <img src="~/img/slider3.jpg" alt="">
                </div>
            </li>
            <li>
                <div class="carousel-container">
                    <img src="~/img/slider4.jpg" alt="">
                </div>
            </li>
        </ul>
    </div>
</div>